@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
* {
    text-align: center;
  }
  
  body {
    font-family: "Nunito", monospace;
    min-height: 400px;
    background-image: url("images/1.jpg");
    background-color: #111;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .container {
    text-align: center;
    padding: 20px;
    height: 100vh;
  }
  
  .page-title {
    color: #ffffff;
    margin: 0 0 5px;
  }
  
  .page-subtitle {
    color: #ffffff;
    margin-top: 5px;
  }
  
  .page-logo {
    width: 200px;
  }
  
  .alura-logo {
    width: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  table {
    margin:auto;
    border: 2px solid white;
    border-collapse: collapse;
  }
  
  h1 {
    color: white;
    font-size: 30px;
    font-weight: bold;
  }
  
  button {
    font-family: "Nunito";
    color: black;
    
  }
  th,
  tr,
  td {
    border: solid 1px white;
    color: white;
  }
  